---
import BaseHead from '../components/BaseHead.astro';
import Browser from '../components/Browser.astro';
import Card from '../components/Card.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const projects = (await Astro.glob('./projects/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.project-content {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
				justify-content: center;
				gap: 1rem;
				padding: 0;
			}
		</style>
	</head>
	<body>
		<Browser>
			<main>
				<section>
					<div class="project-content">
						{
							projects.map((proj) => (
								<Card 
									title={proj.frontmatter.title}
									footer={`Updated ${
										new Date(proj.frontmatter.pubDate).toLocaleDateString('en-us', {
											year: 'numeric',
											month: 'short',
											day: 'numeric',
									})}`}
									url={proj.url}>
									{proj.frontmatter.description}
								</Card>
							))
						}
					</div>
				</section>
			</main>
		</Browser>
	</body>
</html>
